<html>
    <head>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Advent+Pro&family=Slabo+27px&display=swap" rel="stylesheet">
        <title>My Home Page</title>
        <link rel="stylesheet" type="text/css" href="css/HomePage2.css">
    </head>
    <body>
        <div class="navbar">
            <div class="logo">WORK'n'APPOINT</div>
            <ul class="test" id="upperlist">
                <li class="list">
                </li>
                <li id="icon_list">
                    <a href="/profile"><img src="images/icon.png" id="profile_icon"/></a>
                </li>
                <li>
                    <h3 class="list"style="color:white;">Welcome <%= user.username %> </h3>
                </li>
                <li class="list"><img src="images/person.png" class="t5">
                <a href="#footer_anchor" class="five" id="con">Contact Us</a>
                </li>
                <li class="list"><img src="images/about.png" class="t5">
                <a href="#about" class="five">About</a>
                </li>
                <li class="list" id="find"><img src="images/find2.jpg" class="t5">
                </li>
                <li class="list" style="margin-top:6px;">
                    <input type="text" size="25" height="20"placeholder="enter keywords to search" id="search_in"/>
                </li>
            </ul>
        </div>
        <div class="parent">
            <div class="sidebar">
                <h2>SKILLS</h2>
                <ul>
                    <li><input type="checkbox" class="side_list"value="html">Html</li>
                    <li><input type="checkbox" class="side_list"value="css">Cascading style sheets</li>
                    <li><input type="checkbox" class="side_list"value="javascript">Javascript</li>
                    <li><input type="checkbox" class="side_list" value="python">Python</li>
                    <li><input type="checkbox" class="side_list" value="cloud computing">Cloud Computing</li>
                    <li><input type="checkbox" class="side_list" value="Data Structure">Data Structures</li>
                    <li><input type="checkbox" class="side_list" value="Machine learning">Machine Learning</li>
                    <li><input type="checkbox" class="side_list" value="c">C</li>
                    <li><input type="checkbox" class="side_list" value="c++">C++</li>
                    <li><input type="checkbox" class="side_list" value="java">Java</li>
                    <li><input type="checkbox" class="side_list" value="django">Django</li>
                    <li><input type="checkbox" class="side_list" value="Flutter">Flutter</li>
                    <li><input type="checkbox" class="side_list" value="Mean stack">Mean Stack</li>
                    <li><input type="checkbox" class="side_list" value="Mern stack">Mern Stack</li>
                    <li><input type="checkbox" class="side_list" value="PHP">PHP</li>
                    <li><input type="checkbox" class="side_list" value="mysql">MySql</li>
                    <li><input type="checkbox" class="side_list" value="autocad">AutoCad</li>
                    <li><input type="checkbox" class="side_list" value="salesforce">Salesforce</li>
                    <li><input type="checkbox" class="side_list" value="blockchain">Blockchains</li>
                    <li><input type="checkbox" class="side_list" value="automation">Automation</li>
                </ul>
            </div>
            <div class="mid" id="jobs">
                 
            </div>
            <div class="right-sidebar">
                <div id="job_desc">
                    <h1>JOB Description</h1>
                    <hr>
                    <div id="company">Company :</div>
                    <div id="subject"></div>
                    <div id="description"></div>
                    <div id="ctc"></div>
                    <div id="skills"></div>
                    <div id="exp"></div>
                    <div id="location"></div>
                    <div id="last_div"></div>
                </div>
            </div>
        </div>
        <!--footer-->
        <div class="footer">
            <div class="footer-content">
                <a name="footer_anchor"></a>
                <div class="footer-section contact-us">
                    <h2 class="logo-text">Contact Us</h2>
                    <p class="para">9306228235</p>
                    <p class="para">kaur.26parneet@gmail.com</p>
                </div>
                <div class="footer-section links">
                    <h2 class="logo-text">Links</h2>
                    <ul class="new">
                        <a href="#"><li class="list1">Events</li></a>
                        <a href="#"><li class="list1">Team</li></a>
                        <a href="#"><li class="list1">Mentors</li></a>
                        <a href="#"><li class="list1">Terms and Conditions</li></a>
                    </ul>
                </div>
            </div>

            <div class="footer-bottom">
                &copy;worknappoint.com | Designed By Rahul,Pankaj,Parneet
            </div>
        </div>
        <div id="profile_div">
            <div>
                <img src="images/cross2.png" id="cross"/>
            </div> 
            <div class="profile_image">
                <img src="images/icon.png" height="200px"/>
            </div>
            <div class="profile_div1">
                <div>
                    <div class="lab">
                        Username:
                    </div>
                    <div class="lab">
                        Full Name:
                    </div>
                    <div class="lab">
                        Contact:
                    </div>
                    <div class="lab">
                        city:
                    </div>
                    <div class="lab">
                        Email:
                    </div>
                </div>
                <div>
                    <div class="lab">
                        <input type="text" class="profile_input" disabled/>
                    </div>
                    <div class="lab">
                        <input type="text" class="profile_input"disabled/>
                    </div>
                    <div class="lab">
                        <input type="text" class="profile_input" disabled/>
                    </div>
                    <div class="lab">
                        <input type="text" class="profile_input" disabled/>
                    </div>
                    <div class="lab">
                        <input type="text" class="profile_input" disabled/>
                    </div>
                </div>
          </div> 
          <div id="profile_div2">
              <button id="edit">Edit details</button>
          </div>  
        </div>
       <!-- <div id="job_desc">
            <h1>JOB Description</h1>
            <hr>
            <div id="company">Company :</div>
            <div id="subject"></div>
            <div id="description"></div><br/>
            <div id="ctc">CTC :</div><br/>
            <div id="skills">Skills: </div><br/>
            <div id="exp">Experience: </div><br/>
            <div id="location">Location: </div>
        </div>-->
    </body>
    <script src="js/main.js">
        
    </script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

</html>