<html>
    <head>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Advent+Pro&family=Slabo+27px&display=swap" rel="stylesheet">
        <title>My Home Page</title>
        <link rel="stylesheet" type="text/css" href="css/HomePage.css">
    </head>
    <body>
        <div class="navbar">
            <div class="logo"><p>WORK'n'APPOINT</p></div>
            <ul class="test">
                <li class="list">
                    <button class="btn"><a href="/login">Login</a></button>
                </li>
                <li class="list">
                    <button class="btn"><a href="/signup_btn">Sign Up</a></button>
                </li>
                <li class="list"><img src="images/person.png" class="t5">
                <a href="#footer_anchor" class="five" id="con">Contact Us</a>
                </li>
                <li class="list"><img src="images/about.png" class="t5">
                <a href="#about" class="five">About</a>
                </li>
                <li class="list"><img src="images/find2.jpg" class="t5">
                <a href="#contact" class="five">Find Jobs</a>
                </li>
            </ul>
        </div>
        <div class="parent">
            <div class="sidebar">
                <h2>SKILLS</h2>
                <ul>
                    <li><a href="#">Html</a></li>
                    <li><a href="#">Cascading style sheets</a></li>
                    <li><a href="#">Javascript</a></li>
                    <li><a href="#">Python</a></li>
                    <li><a href="#">Cloud Computing</a></li>
                    <li><a href="#">Data Structures</a></li>
                    <li><a href="#">Machine Learning</a></li>
                    <li><a href="#">C</a></li>
                    <li><a href="#">C++</a></li>
                    <li><a href="#">Java</a></li>
                    <li><a href="#">Django</a></li>
                    <li><a href="#">Flutter</a></li>
                    <li><a href="#">Mean</a></li>
                    <li><a href="#">Mern Stack</a></li>
                    <li><a href="#">PHP</a></li>
                    <li><a href="#">MySql</a></li>
                    <li><a href="#">AutoCad</a></li>
                    <li><a href="#">Salesforce</a></li>
                    <li><a href="#">Blockchains</a></li>
                    <li><a href="#">Automation</a></li>
                </ul>
            </div>
            <div class="mid" id="jobs">
                 
            </div>
            <div class="right-sidebar">
                <div id="job_desc">
                        <h1>JOB Description</h1>
                        <hr>
                        <div id="company">Company :</div>
                        <div id="subject"></div>
                        <div id="description"></div>
                        <div id="ctc"></div>
                        <div id="skills"></div>
                        <div id="exp"></div>
                        <div id="location"></div>
                </div>
            </div>
        </div>
        <!--footer-->
        <div class="footer">
            <div class="footer-content">
                <a name="footer_anchor"></a>
                <div class="footer-section contact-us">
                    <h2 class="logo-text">Contact Us</h2>
                    <p class="para">9306228235</p>
                    <p class="para">kaur.26parneet@gmail.com</p>
                </div>
                <div class="footer-section links">
                    <h2 class="logo-text">Links</h2>
                    <ul class="new">
                        <a href="#"><li class="list1">Events</li></a>
                        <a href="#"><li class="list1">Team</li></a>
                        <a href="#"><li class="list1">Mentors</li></a>
                        <a href="#"><li class="list1">Terms and Conditions</li></a>
                    </ul>
                </div>
            </div>

            <div class="footer-bottom">
                &copy;worknappoint.com | Designed By Rahul,Pankaj,Parneet
            </div>
        </div>
    </body>
    <script src="js/home1.js">
        
    </script>
</html>