<html>
    <head>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Advent+Pro&family=Slabo+27px&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="css/main_home.css">
        <title>Sparkle Website</title>
    </head>
    <body>
        <div class="div1">
                        <div class="logo"><img src="images/appicon.png" width="150px"/></div>
                        <div class="form">
                                <input type="text" class="textbox" id="find" placeholder="Search">
                                <input title="Search" value=""type="submit" class="search_btn">
                        </div>
                        <div class="test">
                            <div class="list" id="list2">
                                <a href="#footer_anchor" class="five" id="con">Contact Us</a>
                            </div>
                            <div class="list" id="list3">
                                <a href="#about" class="five">About</a>
                            </div>
                            <div class="list" id="list1">
                                    Welcome <%= user.username%>
                            </div>
                            <div class="list" id="list4">
                                <a href="/profile"><img src="<%=user.img %>" height="50px" id="profile_pic"/></a>
                            </div>
                        </div>
        </div>
        <!--sidebar-->
        <div class="parent">
            <div>
            <div class="sidebar">
                <h2>SKILLS</h2>
                <ul>
                        <li><input type="checkbox" class="side_list"value="html">Html</li>
                        <li><input type="checkbox" class="side_list"value="css">Cascading style sheets</li>
                        <li><input type="checkbox" class="side_list"value="javascript">Javascript</li>
                        <li><input type="checkbox" class="side_list" value="python">Python</li>
                        <li><input type="checkbox" class="side_list" value="cloud computing">Cloud Computing</li>
                        <li><input type="checkbox" class="side_list" value="Data Structure">Data Structures</li>
                        <li><input type="checkbox" class="side_list" value="Machine learning">Machine Learning</li>
                        <li><input type="checkbox" class="side_list" value="c">C</li>
                        <li><input type="checkbox" class="side_list" value="c++">C++</li>
                        <li><input type="checkbox" class="side_list" value="java">Java</li>
                        <li><input type="checkbox" class="side_list" value="django">Django</li>
                        <li><input type="checkbox" class="side_list" value="Flutter">Flutter</li>
                        <li><input type="checkbox" class="side_list" value="Mean stack">Mean Stack</li>
                        <li><input type="checkbox" class="side_list" value="Mern stack">Mern Stack</li>
                        <li><input type="checkbox" class="side_list" value="PHP">PHP</li>
                        <li><input type="checkbox" class="side_list" value="mysql">MySql</li>
                        <li><input type="checkbox" class="side_list" value="autocad">AutoCad</li>
                        <li><input type="checkbox" class="side_list" value="salesforce">Salesforce</li>
                        <li><input type="checkbox" class="side_list" value="blockchain">Blockchains</li>
                        <li><input type="checkbox" class="side_list" value="automation">Automation</li>
                </ul>
            </div>
            <div class="sidebar" id="sidebar1">
                <h2>AMOUNT</h2>
                <ul class="drag">
                    <li><input type="checkbox" >2LPA - 2.5LPA</li>
                    <li><input type="checkbox">2.5LPA - 3.5LPA</li>
                    <li><input type="checkbox">3.5LPA - 4LPA</li>
                    <li><input type="checkbox">4LPA - 6LPA</li>
                    <li><input type="checkbox">6LPA - 8LPA</li>
                    <li><input type="checkbox">10LPA - 30LPA</li>
                    <li><input type="checkbox">30LPA - So On</li>
                </ul>
            </div>
            <div class="sidebar" id="sidebar2">
                <h2>EXPERIANCE</h2>
                <ul class="drag">
                    <li><input type="checkbox">0 - 2 Years</li>
                    <li><input type="checkbox">2 - 4 Years</li>
                    <li><input type="checkbox">4 - 6 Years</li>
                    <li><input type="checkbox">6 - So On </li>
                </ul>
            </div>
            </div>
            <div class="mid" id="jobs">

            </div>
            <div class="right-sidebar">

            </div>
        </div>
        <!--footer-->
        <div class="footer">
            <div class="footer-content">
                <a name="footer_anchor">
                <div class="footer-section contact-us">
                    <h2 class="logo-text">Contact Us</h2>
                    <p class="para">9306228235</p>
                    <p class="para">kaur.26parneet@gmail.com</p>
                </div>
                <div class="footer-section links">
                    <h2 class="logo-text">Links</h2>
                    <ul class="new">
                        <a href="#"><li class="list1">Events</li></a>
                        <a href="#"><li class="list1">Team</li></a>
                        <a href="#"><li class="list1">Mentors</li></a>
                        <a href="#"><li class="list1">Terms and Conditions</li></a>
                    </ul>
                </div>
                <div class="footer-section images">
                    <h2 class="logo-text">Logos</h2>
                    <ul class="socialIcons">
                        <li class="facebook"><a href=""><i class="fa fa-fw fa-facebook"></i>Facebook</a></li>
                        <li class="twitter"><a href=""><i class="fa fa-fw fa-twitter"></i>Twitter</a></li>
                        <li class="instagram"><a href=""><i class="fa fa-fw fa-instagram"></i>Instagram</a></li>
                        <li class="pinterest"><a href=""><i class="fa fa-fw fa-pinterest-p"></i>Pinterest</a></li>
                        <li class="steam"><a href=""><i class="fa fa-fw fa-steam"></i>Steam</a></li>
                      </ul>
                </div>
            </div>

            <div class="footer-bottom">
                &copy;worknappoint.com | Designed By Rahul,Pankaj
            </div>
        </div>
        <div id="job_desc">
                <div id="desc_inside1">
                    <div>
                       <h3>Job Description</h3>
                    </div>
                    <div id="cross">
                        <img src="/images/cross2.png" height="50px"/>
                    </div>
                </div>
                <hr>
                <div id="desc_inside2">
                    <div id="company">Company :</div>
                    <div id="subject"></div>
                    <div id="description"></div>
                    <div id="ctc"></div>
                    <div id="skills"></div>
                    <div id="exp"></div>
                    <div id="location"></div>
                    <div id="last_div"></div>
                </div>    
            </div>
    </body>
    <script src="js/main.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</html>